apiVersion: v1
kind: Service
metadata:
  name: {{ include "helloworld.fullname" . }}
  labels:
    {{- include "helloworld.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  {{- if .Values.service.LoadBalancerIP }}
  loadBalancerIP: {{ .Values.service.LoadBalancerIP }}
  {{- end }}
  selector:
    {{- include "helloworld.selectorLabels" . | nindent 4 }}
